# nongtlf model files
*.blend
*.blend[0-9]
*.glb

#build files and folders
lib/
bin/
build/
filesystem/
*.o
cmake*/
cmake-*
CMakeLists.txt
*.z64

# ide files and folders
.idea/
.vscode/
.vs/

# os files
.DS_Store